<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Investica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Login.css" rel="stylesheet" />


    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        
        <div class="tabs" id="tabsBar">
            <div class="logo">INVESTICA</div>
            <a class="tab" href="/Home/Dashboard">Dashboard</a>
            <a class="tab" href="/Home/Companies">Companies</a>
            <a class="tab" href="/Home/OtherDetails">Other Details</a>
            <a class="tab" href="/Home/Summary">Summary</a>
            <a class="tab" href="/Home/Tickets">Tickets</a>
            <a class="tab" href="/Home/Invoice">Invoice</a>
            <a class="tab" href="/Home/Fontsheet">Fontsheet</a>
            <a class="tab" href="/Home/Links">Links</a>
            <a class="tab" href="/Home/Renewals">Renewals</a>
            <a class="tab" href="/Home/MasterData">Admin Panel</a>
        </div>
        <div class="user-area">
            <span>Employee: Rahul</span>
            
            <form id="logoutForm" method="post" action="/Home/Login" style="display:inline;">
                @Html.AntiForgeryToken()
                <button type="submit" class="logout btn btn-link">Logout</button>
            </form>
        </div> 
    </header>

    @RenderBody()

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
